---
import LogoutButton from "@/components/admin/LogoutButton";
---

<nav
    class="fixed px-4 bg-black w-60 h-full flex flex-col gap-4 rounded-r-4xl"
>
    <a
        href="/admin/dishes"
        class="text-white font-bold transition hover:cursor-pointer"
    >
        Menú
    </a>
    <a
        href="/admin/promos"
        class="text-white font-bold transition hover:cursor-pointer"
    >
        Promociones
    </a>
    <LogoutButton client:load />
</nav>
