---
import AdminAuthWrapper from "@/components/admin/AdminAuthWrapper";
import AdminNavbar from "@/components/admin/AdminNavbar";
import "@/styles/global.css";
---

<!doctype html>
<html lang="es">
  <html lang="es">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>Panel de Administración</title>
    </head>
    <body class="flex min-h-screen">
      <AdminAuthWrapper client:load>
        <!-- Contenido principal -->
        <AdminNavbar client:load />
        <main
          id="mainContent"
          class="flex-1 transition-all duration-300 ease-in-out bg-background"
        >
          <slot />
        </main>
      </AdminAuthWrapper>
    </body>
  </html>
</html>
