---
import AdminLayout from "@/layouts/AdminLayout.astro";
---

<AdminLayout>
  <main
    class="w-full h-full flex flex-col items-center bg-background font-serif"
  >
    <h1 class="text-3xl font-bold mb-8 text-center">
      Panel de Administración
    </h1>
  </main>
</AdminLayout>
